@import url(https://use.typekit.net/mnr2xcj.css);

/* base setup */
:root {
    --randomRotateZ: 0deg;
}

html {
    background-color: rgb(98, 142, 221);
    min-height: 100vh;
    color: white;
    font-family: Nobel, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

body div {
    align-items: center;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

/* container, background animation */
.container {
    display: flex;
    width: 100%;
    height: auto;
}

.background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    animation: fall1 linear 1.4s forwards;
}

.background img {
    position: relative;
    width: 100%;
    height: 3000px;
}

.foreground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


/* header, filler, footer */
.header {
    display: flex;
    height: 11vh;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    

    animation: fade-down-small 1.5s forwards;
}

.ui-left {
    font-family: 'TT Ricks Medium';
    letter-spacing: 0.1rem;
    font-size: clamp(1.8rem, 2.5vw, 2.6rem);

    text-align: center;

    flex: 1 1 14%;
}

.ui-center {
    flex: 1 1 58%;
}

.ui-right-1, .ui-right-2 {
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    font-weight: 100;
    font-style: italic;
    letter-spacing: 0rem;
    text-align: center;

    flex: 1 1 12%;
}

.header a {
    color: white;
    text-decoration: none;
    transition: 100ms;
}

.header a:hover {
    font-size: 110%;
}

.ui-left, .ui-right-1, .ui-right-2 {
    animation: drift3 ease-in-out 4s infinite;
}

.ui-left { animation-delay: -900ms; min-width: 14ch;}
.ui-right-1 { animation-delay: -600ms; min-width: 7ch;}
.ui-right-2 { animation-delay: -300ms; min-width: 12ch;}

.footer {
    height: 5vh;
    padding: 0px;
    font-family: 'Nobel Light';
    font-size: 1rem;
    text-align: center;
    animation: fade-down-small 1.5s forwards;
}


/* hero layout */

.hero-layout {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    margin-top: -20px;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}


/* left side (logo) */

.home-logo-outer {
    text-align: center;
    min-height: 360px;
    min-width: 360px;
    flex-direction: column;
    flex: 1 1 40%;
    align-content: center;

    animation:
    fade-down-big-2 2s forwards;
}

.home-logo-driftZ {
    animation: driftZ2 ease-in-out 1s infinite;
}

.home-logo {
    animation: drift2 ease-in-out 3.5s infinite;
}

.home-logo-image {
    position: relative;
    height: var(--height);
    width: var(--height);
    margin: auto;

    transform-style: preserve-3d;
    transform:
        perspective(2000px)
        rotateX(var(--rotateY))
        rotateY(var(--rotateX));
    transition: all 100ms ease;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(../img/safcovertemp.png);
    background-size: cover;
    background-position: center;
    
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: var(--randomBG);
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
}

/* right side (logo text, flavor text) */
.home-text {
    flex: 1 1 60%;
}

.title {
    margin: auto;
    text-align: center;
}

.t1, .t2, .t3 {
    margin-bottom: -40px;
    animation: fade-down-big 1.5s forwards;
    opacity: 0%;
}

.innertitle1 { animation: driftZ1 ease-in-out 1.7s infinite; }
.innertitle2 { animation: driftZ1 ease-in-out 1.2s infinite; }
.innertitle3 { animation: driftZ1 ease-in-out .7s infinite; }

.innertitle1 img, .innertitle2 img, .innertitle3 img {
    width: 500px;
    height: auto;
    animation: drift1 ease-in-out 3s infinite;
}

.innertitle1 p, .innertitle2 p, .innertitle3 p {
    font-size: 8rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.t1, .innertitle1 p { animation-delay: 200ms;}
.t2, .innertitle2 p { animation-delay: 350ms;}
.t3, .innertitle3 p { animation-delay: 500ms;}


.flavor-text {
    font-family: 'Nobel Book';
    font-style: italic;
    font-size: clamp(0.9rem, 2.2vw, 1.2rem);
    text-align: center;
    margin: 0px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ft1, .ft2 {
    opacity: 0%;
    margin-bottom: -1rem;
    animation: fade-down-small 2s forwards;
}

.innerft1, .innerft2 {
    animation: drift3 ease-in-out 4s infinite;
}

.ft1, .innerft1 { animation-delay: 1.2s;}
.ft2, .innerft2 { animation-delay: 2s;}

/* non-home-page layout */
.main-layout {
    margin-top: 20px;
    margin-bottom: 20px;
}

.titletext {
    display: flex;
    margin: 10px;
    letter-spacing: .1rem;
    justify-content: center;
    margin-bottom: 30px;
}

.titleword1a, .titleword2a, .titleword3a {
    opacity: 0%;
    font-family: 'TT Ricks Medium';
    font-size: clamp(1rem, 10vw, 8rem);
    margin-left: clamp(1rem, 1.5vw, 6rem);
    animation: fade-down-big 1.5s forwards;
}

.titleword2a {
    font-family: 'TT Ricks';
    animation: fade-down-big-2 1.5s forwards;
    animation-delay: 200ms;
}

.titleword1b, .titleword3b { animation: drift1 ease-in-out 4s infinite; }
.titleword2b { animation: drift2 ease-in-out 4s infinite; }

.titleword3a { animation-delay: 400ms; }
.titleword2b { animation-delay: 400ms; }
.titleword3b { animation-delay: 800ms; }


.content-wrapper {
    opacity: 0%;
    animation: fade-up 1.5s forwards;
    animation-delay: 500ms;
}

.content-edge {
    width: 100%;
}

.content-edge img {
    width: 100%;
    height: 75px;
    margin-bottom: -4px;
    margin-top: 0px;
}

.content-block {
    background-color: white;
    color: black;
    font-size: clamp(0.9rem, 2.2vw, 1.2rem);
    padding-right: 10rem;
    padding-left: 10rem;
    width: 100% - 20rem;
    padding-bottom: 4rem;
    margin-top: -80px;
}


/* ANIMATION CLASSES */

.spin { 
    height: 340px;
    width: 340px;
    animation: spin cubic-bezier(.19,1,.62,1) 2.5s;
}

.drift1 {
    animation: drift1 ease-in-out 3s infinite;
}

.drift2 {
    animation: drift2 ease-in-out 3s infinite;
}

.drift3 {
    animation: drift1 ease-in-out 3s infinite;
}


/* KEYFRAMES*/
@keyframes fall1 {
    0% {
        opacity: 0%;
        transform: translateY(2500px);
    }
    50% {
        opacity: 100%;
    } 
    100% {
        transform: translateY(-2000px);
        opacity: 0%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    } 
    100% {
        opacity: 100%;
    }
}

@keyframes fade-down-big {
    0% {
        opacity: 0%;
        transform: 
            translateY(-40px)
            rotateZ(0deg);
    } 
    100% {
        opacity: 100%;
        transform:
            translateY(0px)
            rotateZ(1deg);;
        
    }
}

@keyframes fade-down-big-2 {
    0% {
        opacity: 0%;
        transform: 
            translateY(-40px)
            rotateZ(0deg);
    } 
    100% {
        opacity: 100%;
        transform:
            translateY(0px)
            rotateZ(-1deg);
        
    }
}

@keyframes fade-down-small {
    0% {
        opacity: 0%;
        transform: translateY(-10px);
    } 
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0%;
        transform: translateY(30px);
    } 
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes drift1 {
    0% {
        transform:
        rotateZ(0deg)
        translateY(0px);
    }
    50% {
        transform:
        rotateZ(-1deg)
        translateY(6px);
    } 
    100% {
        transform:
        rotateZ(0deg)
        translateY(0px);
    }
}

@keyframes drift2 {
    0% {
        transform:
        rotateZ(0deg)
        translateY(0px);
    }
    50% {
        transform:
        rotateZ(1deg)
        translateY(6px);
    } 
    100% {
        transform:
        rotateZ(0deg)
        translateY(0px);
    }
}

@keyframes drift3 {
    0% {
        transform: translateY(0px);
    } 
    50% {
        transform: translateY(3px);
    } 
    100% {
        transform: translateY(0px);
    } 
}

@keyframes driftZ1 {
    0% {
        transform: rotateZ(-.5deg)
    }
    50% {
        transform: rotateZ(.5deg)
    } 
    100% {
        transform: rotateZ(-.5deg)
    }
}

@keyframes driftZ2 {
    0% {
        transform: rotateZ(-1deg)
    }
    50% {
        transform: rotateZ(1deg)
    } 
    100% {
        transform: rotateZ(-1deg)
    }
}

@keyframes spin {
    0% {
        transform: perspective(2000px) rotateZ(var(--randomRotateZ)) rotateY(0deg);
    } 
    100% {
        transform: perspective(2000px) rotateZ(1deg) rotateY(1080deg);
    }
}

.flavor-text p:nth-child(1) { animation-delay: 1.5s; }
.flavor-text p:nth-child(2) { animation-delay: 2s; }

