<nav id="sidebar-icon-links">
  <a id="twitter"
       class="icon" title="Twitter" aria-label="Twitter"
       href="{{ site.author.twitter }}">
      {% include svg/twitter.svg %}
  </a>

  <a id="bandcamp"
       class="icon" title="Bandcamp" aria-label="Bandcamp"
       href="{{ site.author.bandcamp }}">
       <img src="/assets/img/bandcamp.png" style="width: 28px; height:auto">
  </a>

  <a id="newgrounds"
       class="icon" title="Newgrounds" aria-label="Newgrounds"
       href="{{ site.author.newgrounds }}">
       <img src="/assets/img/newgrounds.png" style="width: 30px; height:auto">
  </a>

  <a id="soundcloud"
       class="icon" title="SoundCloud" aria-label="SoundCloud"
       href="{{ site.author.soundcloud }}">
       <img src="/assets/img/soundcloud.png" style="width: 38px; height:auto">
  </a>


  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
