---
layout: page
---

<div id="randomBio">

    <script>
        (function() {
            staticBio = "Miyolophone is a composer and pianist from New York. Since age 10, he has been studying composition at a number of conservatories and music programs on the East Coast. He’s also been producing electronic music since 2016 in a variety of genres—from city pop, to musical theater, to hi-tech, to orchestral folk. He is currently the lead composer for the Legacy Idol Project and a member of UTALIVE, a VTuber music creation team.";
            var imgs = ["/assets/img/portrait1.png", "/assets/img/portrait2.png", "/assets/img/portrait3.png"];
            var bios = ["Miyo has a range of musical interests and skills, but he still approaches every project with his unique compositional style. Despite his best efforts, he cannot escape the style’s pursuit. It hovers over his head as an ominous shadow, like a kettle of vultures circling a wounded animal. His friends and family murmur anxiously about it in hushed voices. Every day, it gets   a     little        closer.",
                        "Miyo has a range of musical interests and skills, but he still approaches every project with his unique compositional style. He is irresistibly drawn to the style. In fact, the style’s gravity causes him to circle it like a moon, his orbit gradually decaying as a result of atmospheric drag. Eventually, he’ll reach the style’s Roche limit, at which point tidal forces will cause him to disintegrate and become a ring of cosmic dust. This may prevent him from playing the piano as frequently.",
                        "Miyo has a range of musical interests and skills, but he still approaches every project with his unique compositional style. This is because the style assumes a meta-corporeal form and visits him in beautiful and terrible visions. A kaleidoscopic patchwork of wings and eyes, it issues commands in the tongue of the demiurge, every utterance reverberating thousandfold across the dream-plane. It is incomprehensible, and yet to disobey… to disobey would be to risk ultimate karmic excision."];
            var x = Math.floor(Math.random() * imgs.length);
            document.getElementById("randomBio").innerHTML = '<img src="'+ imgs[x] + '" alt="profile" style="float: left; margin-right: 20px;" width="270" height="auto">'
                                                              + '<p>' + staticBio + '<p>'
                                                              + '<p>' + bios[x] + '<p>';
        
        })();
    </script>

    <p>He also likes learning Japanese and rereading Calvin and Hobbes in his free time.</p>
</div>
  