---
layout: default
---

<div class="content">

  <script>
    $(document).ready(function() { 
      $('.content').fadeTo(700, 1);
    });
    
    $(window).on('scroll', function() {
      var alpha = 1 - $(this).scrollTop()/($(document).height() - $(this).height());
      $('.container').css({ 'opacity' : alpha });
      $('.custom-bg').css({'filter' : 'brightness(' + (1 - alpha/2) + ')'});
    });
  </script>

  {{ content }}

  <p class="content bookend">(Scroll down for full background.)</p>

</div>